@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background-start-rgb: 189, 239, 255;
    --background-end-rgb: 238, 208, 255;

    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%; /* light-blue */
    --muted-foreground: 215.4 16.3% 46.9%; /* blue-gray */

    --popover: 0 0% 100%; /* white */
    --popover-foreground: 222.2 47.4% 11.2%; /* dark blue-gray */

    --border: 214.3 31.8% 91.4%; /* light-blue */
    --input: 214.3 31.8% 91.4%; /* light-blue */

    --card: 0 0% 100%; /* white */
    --card-foreground: 222.2 47.4% 11.2%; /* dark blue-gray */

    --primary: 222.2 47.4% 11.2%; /* dark blue-gray */
    --primary-foreground: 210 40% 98%; /* light-blue */

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%; /* dark red*/
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%; /* blue-gray */

    --radius: 0.5rem;
  }

  .dark {
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --background: 224 71% 4%; /* black */
    --foreground: 213 31% 91%; /* light-blue */

    --muted: 223 47% 11%; /* dark blue-gray */
    --muted-foreground: 215.4 16.3% 56.9%; /* blue-gray */

    --accent: 216 34% 17%; /* dark blue-gray */
    --accent-foreground: 210 40% 98%; /* light-blue */

    --popover: 224 71% 4%; /* dark black blue-gray */
    --popover-foreground: 215 20.2% 65.1%; /* gray */

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@import url(theme.css); /* Material3 Theme */

@layer base {
  * {
    @apply border-tertiary;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    background: linear-gradient(
        to bottom,
        transparent,
        rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
  }
}
